
* {
    font-family: 'Poppins', sans-serif;
    color:blueviolet;
}

body {
    background-image: url(../img/natureee.jpg);
    background-size: auto;
}

.page.area {
    display: grid;
    grid-template-areas: "logo logo logo" "nav nav nav" "main main main" "footer footer footer"
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.cuento-gallinita {
    grid-area: main;
    background-color: aliceblue;
}

.main_container {
    grid-area: main;
    display:flex;
    justify-content: space-around;
    background-color: rgb(245, 176, 225);
}

.nav_bar {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}

ul {
    list-style-type: none;
}

.footer {
    grid-area: footer;
}
